<h1> Edit Quote </h1>

<%= form_for @quote do |f| %>
<%= f.label "Quote" %>
<%= f.text_field :content %><br>
<%= f.label :source_id %>
<%= f.collection_select :source_id, Source.all, :id, :title %><br>
<%= f.label :topic_id %>
<%= f.collection_select :topic_id, Topic.all, :id, :name %><br>
<%= f.submit %>
<% end %>
