<h1>New Book</h1>


<%= form_for @book do |f| %>
<%= f.label "Book" %>
<%= f.text_field :title %><br>
<%= f.label :author_id %>
<%= f.collection_select :author_id, Author.all, :id, :name %><br>
<%= f.submit %>
<% end %>
