<!DOCTYPE html>
<html>
  <head>
    <title>RandomQuotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
   <style>
      h1   {font-size: 30px}
      h3   {font-size: 20px}
      h4   {font-size: 15px}
      h6   {font-size: 12px}
   </style>
</head>

<body>

  <h6><center>
  <%= link_to "hi" %> |
  <%= link_to "hello"%> |
  <%= link_to "later"%> |
  <%= link_to "adios"%> |s
  <%= link_to "hola"%> |
  <%= link_to "oi"%> </center></h6><br/><br/>


  <body>
    <%= yield %>
  </body>
</html>
